# Node/TypeScript
node_modules/
dist/
out/
*.log

# VS Code
./vscode

# OS files
.DS_Store
Thumbs.db

# Go
*.exe
*.test
*.out

# Go modules cache
vendor/

# Environment variables
**/.env

# Misc
notes.md